.title-slide {
  background-image: url(https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png);
	background-position: right 15px bottom 15px;
}

a, a > code {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

.small { font-size: 60% }

div.my-footer {
    background-color: #00000000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 8pt;
    color: #A9A9A9;
    position: absolute;
    left: 5px;
    bottom: 2px;
}
