<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/" title="Home">CV</a></li>
		<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Contact</a></li> -->
		<!-- <li class="{{ page.outputs }}"><a href="/outputs" title="Notes">Outputs</a></li> -->
    <!-- <li class="{{ page.blog }}"><a href="/blog" title="Notes">Blog</a></li> -->
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Song, Xiao Ping</a></h3>
</div> <!-- /header -->
